
/*expandiendo estilos base*/

p			{ 	color: #545454; font-size: 0.9em; 
				line-height: 1.2em:	}

a, a:hover {	text-decoration: none !important} 

ul          {	font-size: 0.8em;}

h1          {	font-size: 3em}

h3          {	margin-top:30px;}

h4, h5 		{ 	padding: 10px 0 2px 0;	}

footer      {	color: #fff;
				margin: 30px 0 5px 0; 
				padding: 20px ; 
				border-top: solid 1px #ccc;
				font-size: 0.7em }

footer a 	{	color: #545454;}

button      { 	text-decoration: none; 
				
				bottom: 0;
				}

/* expandiendo estilos Bootstrap */
.btn 		{	font-family: 'Roboto', sans-serif;
				font-weight: 100;
				font-size: 0.7em;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				margin: 30px 0 20px 0	}



/* creando estilos personalizados Pardo */
#pardo 		{ 	font-family: 'Recursive', sans-serif;	}

.sombra     {	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.34);
				-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.34);
				box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.34);
				padding: 10px;
				margin: 10px auto;}

.separador	{	padding: 0; 
				margin: 40px 0; 
				border-top: dotted 2px #ccc; }

#seccion-1	{	margin: 0; 
				padding: 5px;}

#seccion-2	{	font-family: 'Roboto', sans-serif;

				padding: 20px 15px;}
